.address {
  margin: 0;
}

.address--gray {
  background-color: $basic_grey;

  @media (min-width: $desktop-width) {
    background-color: $basic_white;
  }
}

.address__container-page {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    box-sizing: border-box;
    width: 1440px;
    position: relative;
  }
}

.address__container {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  margin: 0 auto;
  //padding: 30px 20px;
  padding: 25px 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding: 56px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding: 59px 80px;
    background-color: $basic-white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    align-items: top;
  }
}

.address__title {
  margin: 0;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-right: 15px;

  @include word-font ("Oswald", 16px, 20px);

  @media (min-width: $tablet-width) {
    max-width: 200px;
    padding: 0;

    @include word-font ("Oswald", 20px, 26px);
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.address__text {
  color: $special_dark-grey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @include word-font ("Arial", 14px, 20px);

  @media (min-width: $tablet-width) {
    //max-width: 190px;
    text-align: right;
    padding-right: 0;
    padding-left: 150px;

    @include word-font ("Arial", 16px, 20px);
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }
}

.address iframe {
  border: none;
  display: block;
  height: 362px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
