.adress {
  margin: 0;
}

.adress__container {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.adress__title {
  margin: 0;
  padding: 0 20px;
  text-transform: uppercase;
  width: 139px;

  @include word-font ("Oswald", normal, normal, 16px, 20px);
}

.adress__text {
  color: $special_dark-grey;
  margin: 0;
  padding: 0 20px;
  width: 139px;

  @include word-font ("Arial", normal, normal, 14px, 20px);
}

.adress__img {
  display: block;
  margin: 0 auto;
}
