.button {
  text-decoration: none;
  background-color: $basic_green;
  color: $basic-white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;

  @include word-font ("Oswald", 14px, 18px);

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    padding-bottom: 17px;

    @include word-font ("Oswald", 20px, 20px);
  }

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    background-color: $basic_green-2;
    color: rgba($basic-white, 0.3);
  }
}
