.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 41px;
  position: relative;

  @include word-font ("Oswald", 36px, 36px);

  @media (--not-narrow-vp) {
    margin-top: 40px;
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;

    //@include word-font ("Oswald", 60px, 60px);
  }

  @media (--wide-vp) {
    margin-top: 23px;
    margin-bottom: 82px;
  }

  &::before {
    @media (--narrow-vp) {
      content: "";
      position: absolute;
      top: -28px;
      left: -20px;
      height: 1px;
      width: 100vw;
      background-color: var(--button-color);
    }
  }

  &::after {
    @media (--narrow-vp) {
      content: "";
      position: absolute;
      bottom: -41px;
      left: -20px;
      height: 1px;
      width: 100vw;
      background-color: var(--button-color);
    }
  }
}

.catalog__product-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 45px;

  @media (--not-narrow-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 68px;
    column-gap: 60px;
  }

  @media (--wide-vp) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 63px;
    column-gap: 80px;
  }
}
