.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 41px;
  position: relative;
  //border-bottom: 1px solid $special_grey-5;

  @include word-font ("Oswald", 36px, 36px);

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    margin-bottom: 82px;

    @include word-font ("Oswald", 60px, 60px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
    margin-bottom: 82px;
  }

  &::before {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      top: -28px;
      left: -20px;
      height: 1px;
      width: 100vw;
      background-color: $special_grey-5;
    }
  }

  &::after {
    @media (max-width: $mobile-width-only) {
      content: "";
      position: absolute;
      bottom: -41px;
      left: -20px;
      height: 1px;
      width: 100vw;
      background-color: $special_grey-5;
    }
  }
}

.catalog__product-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 45px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 63px;
    column-gap: 80px;
  }
}

.catalog__other-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
    align-items: center;
  }
}

.catalog__other-title {
  display: inline-block;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 36px;
  padding: 0;
  position: relative;
  z-index: 3;

  @include word-font ("Oswald", 24px, 24px);

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 79px;

    @include word-font ("Oswald", 36px, 36px);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 9px;
  }

  &--decor::before {
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    width: calc(100% + 50px);
    background-color: $basic-white;
    top: 50%;
    left: -30px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 100%;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      width: calc(100% + 75px);
      left: -40px;
    }
  }

  &--decor::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    top: 60%;
    left: -100vw;
    box-shadow: 100vw 0 0 0 $basic_green;
    background-color: $basic_green;
    z-index: -2;
  }
}
