.copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--form-color);
  align-items: center;
  width: 100%;

  @include word-font ("Arial", 16px, 18px);

  &:active {
    opacity: 0.3;
  }

  &:active svg {
    opacity: 0.3;
    fill: var(--accent-color);
  }

  &:hover svg {
    fill: var(--accent-color);
    transition: fill 0.3s ease;
  }

  &:focus-visible {
    outline: none;
    border: none;
  }

  &:focus-visible svg {
    fill: var(--accent-color);
  }

  &:focus-visible span {
    color: var(--accent-color);
  }
}
