.copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--form-color);
  align-items: center;
  width: 100%;

  @include word-font ("Arial", 16px, 18px);
}

.copyright:active {
  opacity: 0.3;
}

.copyright:hover svg {
  fill: var(--accent-color);
}

.copyright:active svg {
  opacity: 0.3;
  fill: var(--accent-color);
}
