.copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--form-color);
  align-items: center;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  &:active {
    opacity: 0.3;
  }

  &:active svg {
    fill: var(--accent-color);
  }

  &:hover svg {
    fill: var(--accent-color);
    transition: fill 0.3s ease;
  }

  &:focus-visible {
    border: none;
    border-radius: 2px;
    outline: 2px solid var(--accent-color);
    outline-offset: 3px;
  }
}

.copyright span {
  margin-right: 13px;
}
