.example {
  background-color: var(--section-bg-color);

  @media (--not-narrow-vp) {
    background: linear-gradient(to bottom, transparent 60%, var(--section-bg-color) 60%);
  }

  @media (--wide-vp) {
    background: linear-gradient(to bottom, transparent 50%, var(--section-bg-color) 50%);
  }
}

.example__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 75px;
  }
}

.example__title {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 40px;

  @include word-font ("Oswald", 36px, 40px);

  @media (--not-narrow-vp) {
    margin-top: 44px;
    margin-bottom: 64px;

    @include word-font ("Oswald", 60px, 60px);
  }

  @media (--wide-vp) {
    margin-bottom: 146px;
    margin-top: 28px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  color: var(--form-color);

  @include word-font ("Arial", 14px, 18px);

  @media (--not-narrow-vp) {
    margin-bottom: 54px;
    padding-right: 6px;

    @include word-font ("Arial", 16px, 24px);
  }

  @media (--wide-vp) {
    padding-right: 134px;
    margin-bottom: 69px;
  }
}

.example__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--not-narrow-vp) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  @media (--wide-vp) {
    flex-direction: column;
    align-items: start;
    width: 366px;
  }
}

.example__slider-tablet-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--not-narrow-vp) {
    display: flex;
    flex-direction: column;
  }

  @media (--wide-vp) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__list {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-between;
  width: 100%;

  @include list-zero;

  @media (--not-narrow-vp) {
    width: 52%;
  }

  @media (--wide-vp) {
    flex-direction: row;
    width: 100%;
    margin-bottom: 44px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  position: relative;
  margin-bottom: 10px;
}

.example__item-value {
  display: block;
  text-align: center;
  width: 124px;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 0 0 1px var(--light-form-color);
  padding-top: 14px;
  padding-bottom: 17px;
  text-transform: uppercase;

  @include word-font ("Oswald", 24px, 24px);

  @media (--not-narrow-vp) {
    padding-left: 20px;
    padding-right: 20px;

    @include word-font ("Oswald", 30px, 37px);
  }
}

.example__item-text {
  display: block;
  text-align: center;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  width: 82px;
  color: var(--form-color);
  background-color: var(--section-bg-color);
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  left: 50%;

  @include word-font ("Arial", 12px, 12px);

  @media (--not-narrow-vp) {
    background-color: var(--white-color);
    padding-top: 0;
    padding-left: 3px;
    padding-right: 3px;
    width: 128px;

    @include word-font ("Arial", 14px, 14px);
  }

  @media (--wide-vp) {
    background-color: var(--section-bg-color);
  }
}

.example__cost {
  text-transform: uppercase;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 40px;

  @include word-font ("Oswald", 14px, 20px);

  @media (--not-narrow-vp) {
    width: 180px;
    text-align: right;
    margin: 0;
    align-self: flex-start;
    margin-top: 5px;

    @include word-font ("Oswald", 20px, 30px);
  }

  @media (--wide-vp) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}

.example__toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;

  @media (--not-narrow-vp) {
    width: 592px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.example__toggle-container {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 45px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (--not-narrow-vp) {
    width: 592px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
  }
}

.example__track {
  width: 86px;
  height: 14px;
  box-sizing: border-box;
  background-color: var(--white-color);
  border-radius: 6px;
  border: 1px solid var(--light-form-color);
  margin-left: 11px;
  margin-right: 11px;
  position: relative;

  @media (--not-narrow-vp) {
    --track-width: 426px;
    width: var(--track-width);
    height: 6px;
    background-color: var(--slider-track-color);
    border-radius: 6px;
    vertical-align: center;
    position: relative;
    margin: 0;
    border: 0;
  }
}

.example__button {
  width: 36px;
  height: 6px;
  border: 0;
  border-radius: 6px;
  background-color: var(--accent-color);
  position: absolute;
  top: 3px;
  left: 6px;
  cursor: pointer;
  transition: 0.5s;

  @media (--not-narrow-vp) {
    background: var(--accent-color);
    cursor: pointer;
    width: 34px;
    height: 34px;
    border: 13px solid var(--white-color);
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: -14px;
    box-sizing: border-box;
    transform: translateX(-50%);
    transition: none;
  }

  &:active {
    @media (--not-narrow-vp) {
      outline: 1px solid var(--accent-color);
    }
  }
}

.example__move {
  @media (--not-narrow-vp) {
    left: var(--left-position);
  }
}

.example__img-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  @include word-font ("Oswald", 16px, 20px);

  @media (--not-narrow-vp) {
    @include word-font ("Oswald", 20px, 30px);
    border-bottom: 1px dotted var(--social__link-color);
  }

  &:hover {
    border-bottom: 1px solid var(--social__link-color);
  }

  &:active {
    border-bottom: 0;
  }
}

.example__img-object-left {
  width: 280px;
  height: 232px;
  transition: 0.5s;

  @media (--not-narrow-vp) {
    width: 592px;
    height: 511px;
    position: absolute;
  }
}


.example__img-before {
  grid-area: 1 / -1;

  @media (--not-narrow-vp) {
    width: 296px;
    height: 511px;
    overflow: hidden;
    position: relative;
  }
}

.example__img-object-right {
  transition: 0.5s;
  opacity: 0;
  width: 280px;
  height: 232px;

  @media (--not-narrow-vp) {
    transition: 0;
    opacity: 1;
    width: 592px;
    height: 511px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.example__img-after {
  grid-area: 1 / -1;

  @media (--not-narrow-vp) {
    width: 296px;
    height: 511px;
    overflow: hidden;
    margin-left: auto;
    position: relative;
  }
}

.example__grid {
  display: grid;
  align-items: center;

  @media (--not-narrow-vp) {
    width: 592px;
  }
}
