.example {
  margin: 0;
  background-color: $basic-grey-3;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, transparent 60%, $basic-grey-3 60%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, transparent 50%, $basic-grey-3 50%);
  }
}

.example__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;

  @include word-font ("Oswald", normal, normal, 36px, 40px);

  @media (min-width: $tablet-width) {
    margin-top: 43px;
    margin-bottom: 63px;

    @include word-font ("Oswald", normal, normal, 60px, 60px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  color: $special_dark-grey;

  @include word-font ("Arial", normal, normal, 14px, 18px);

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;

    @include word-font ("Arial", normal, normal, 16px, 24px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
  }
}

.example__slider-tablet-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}


.example__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.example__item-value {
  @include word-font ("Oswald", normal, normal, 24px, 24px);

  @media (min-width: $tablet-width) {
    @include word-font ("Oswald", normal, normal, 30px, 37px);
  }
}

.example__item-text {
  margin: 0;
  color: $special_dark-grey;

  @include word-font ("Arial", normal, normal, 12px, 12px);

  @media (min-width: $tablet-width) {
    @include word-font ("Arial", normal, normal, 14px, 14px);
  }
}

.example__cost {
  text-transform: uppercase;

  @include word-font ("Oswald", normal, normal, 14px, 20px);

  @media (min-width: $tablet-width) {
    @include word-font ("Oswald", normal, normal, 20px, 20px);
  }
}

.example__toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.example__toggle-container {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example__img-text {
  @include word-font ("Oswald", normal, normal, 16px, 20px);
}

.example__track {
  width: 86px;
  height: 14px;
  box-sizing: border-box;
  background-color: $basic-white;
  border-radius: 6px;
  border: 1px solid $special-grey;
  margin-left: 13px;
  margin-right: 13px;
  position: relative;
}

.example__button {
  width: 36px;
  height: 6px;
  border: 0;
  border-radius: 6px;
  background-color: $basic_green;
  position: absolute;
  top: 3px;
  left: 6px;
  cursor: pointer;
}
