.example {
  margin: 0;
  background-color: $basic-grey-3;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, transparent 60%, $basic-grey-3 60%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, transparent 50%, $basic-grey-3 50%);
  }
}

.example__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 1440px;
    padding-bottom: 75px;
  }
}

.example__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;

  @include word-font ("Oswald", 36px, 40px);

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 64px;

    @include word-font ("Oswald", 60px, 60px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    margin-top: 28px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  color: $special_dark-grey;

  @include word-font ("Arial", 14px, 18px);

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding-right: 6px;

    @include word-font ("Arial", 16px, 24px);
  }

  @media (min-width: $desktop-width) {
    padding-right: 134px;
    margin-bottom: 69px;
  }
}

.example__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    width: 366px;
  }
}

.example__slider-tablet-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 52%;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 100%;
    margin-bottom: 44px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  position: relative;
  margin-bottom: 10px;
}

.example__item-value {
  display: block;
  text-align: center;
  width: 124px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px $special-grey;
  padding-top: 14px;
  padding-bottom: 17px;
  text-transform: uppercase;

  @include word-font ("Oswald", 24px, 24px);

  @media (min-width: $tablet-width) {
    @include word-font ("Oswald", 30px, 37px);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.example__item-text {
  display: block;
  text-align: center;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  width: 82px;
  color: $special_dark-grey;
  background-color: $basic-grey-3;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  left: 50%;

  @include word-font ("Arial", 12px, 12px);

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    padding-top: 0;
    //padding-left: 5px;
    //padding-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 128px;

    @include word-font ("Arial", 14px, 14px);
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey-3;
  }
}

.example__cost {
  text-transform: uppercase;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 40px;

  @include word-font ("Oswald", 14px, 20px);

  @media (min-width: $tablet-width) {
    width: 180px;
    text-align: right;
    margin: 0;
    align-self: flex-start;
    margin-top: 5px;

    @include word-font ("Oswald", 20px, 30px);
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.example__toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;
}

.example__toggle-container {
  //margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example__track {
  width: 86px;
  height: 14px;
  box-sizing: border-box;
  background-color: $basic-white;
  border-radius: 6px;
  border: 1px solid $special-grey;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.example__button {
  width: 36px;
  height: 6px;
  border: 0;
  border-radius: 6px;
  background-color: $basic_green;
  position: absolute;
  top: 3px;
  left: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.example__img-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include word-font ("Oswald", 16px, 20px);
}

.example__img-after {
  //display: none;
  opacity: 0;
  transition: 0.5s;
  grid-area: 1 / -1;
}

.example__img-before {
  grid-area: 1 / -1;
  transition: 0.5s;
}

.example__grid {
  display: grid;
}

.example--img-object {
  width: 280px;
  height: 232px;
  //object-fit: fill;

  @media (min-width: $tablet-width) {
    width: 591px;
    height: 511px;
  }
}

// <div class="example__toggle">
//           <img class="example__img-before" src="https://cdn.discordapp.com/attachments/901775837689425970/920572339685556244/before-mobile.png" alt="Фото кота до программы" width="280" height="232">
//           <img class="example__img-after" src="https://cdn.discordapp.com/attachments/901775837689425970/920572339375202324/after-mobile.png" alt="Фото кота после программы"  width="280" height="232">
//           <div class="example__toggle-container">
//             <button class="example__button-before example__img-button" type="button">БЫЛО</button>
//             <div class="example__track">
//               <button class="example__button" type="button">
//                 <span class="visually-hidden">Поменять картинку.</span>
//               </button>
//             </div>
//             <button class="example__button-after example__img-button" type="button">СТАЛО</button>
//           </div>
//         </div>
