.footer__wrapper {
  background-color: var(--footer-bg);
}

.footer__container {
  @media (--not-narrow-vp) {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 55px;
    justify-content: space-between;
    align-items: center;
  }

  @media (--wide-vp) {
    align-items: center;
    padding-top: 45px;
  }
}

.footer__social--wrapper {
  @media (--not-narrow-vp) {
    margin-left: 23px;
  }

  @media (--wide-vp) {
    margin-left: 30px;
  }
}

.footer__logo {
  //height: 24px;
  display: block;
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);

  @media (--not-narrow-vp) {
    padding: 0;
    border-bottom: none;
  }

  :hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  :active {
    opacity: 0.6;
  }
}

.footer__logo:focus-visible {
  border: none;
  border-radius: 2px;
  outline: 2px solid var(--accent-color);
  outline-offset: 8px;
}

.footer__social {
  min-height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);

  @media (--not-narrow-vp) {
    padding: 0;
    border-bottom: none;
    max-width: 50%;
  }
}

.footer__academy-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 32px;

  @media (--not-narrow-vp) {
    padding: 0;
  }
}
