.footer {
  background-color: $basic-grey;
  color: $basic-black;
}

.footer__container {
  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.footer__logo {
  display: block;
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid $special_grey-4;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }

  :hover {
    opacity: 0.8;
  }

  :active {
    opacity: 0.6;
  }
}

.footer__social {
  padding-top: 20px;
  padding-bottom: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__academy-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

// .footer--margin {
//   margin-right: 22px;
// }
