.footer {
  background-color: var(--footer-bg);
  color: var(--white-color);
}

.footer__container {
  @media (--not-narrow-vp) {
    padding-top: 58px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (--wide-vp) {
    align-items: center;
  }
}

.footer__logo {
  display: block;
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid var(--border-color);

  @media (--not-narrow-vp) {
    padding: 0;
    border-bottom: none;
  }

  :hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  :active {
    opacity: 0.6;
  }
}

.footer__social {
  //padding-top: 20px;
  //-bottom: 21px;
  min-height: 63px;

  display: flex;
  align-items: center;
  //text-align: center;
  border-bottom: 1px solid var(--border-color);

  @media (--not-narrow-vp) {
    padding: 0;
    border-bottom: none;
    max-width: 50%;
  }
}

.footer__academy-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 32px;

  @media (--not-narrow-vp) {
    padding: 0;
  }
}

// .footer--margin {
//   margin-right: 22px;
// }
