.form-catalog {
  color: var(--black-color);
  background-color: var(--white-color);
}

.form-catalog__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;

  @include word-font ("Oswald", 36px, 36px);

  @media (--not-narrow-vp) {
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 56px;

    @include word-font ("Oswald", 60px, 60px);
  }

  @media (--wide-vp) {
    padding-left: 0;
    margin-top: 23px;
  }
}

.form-catalog__text {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @include word-font ("Oswald", 14px, 18px);

  @media (--not-narrow-vp) {
    padding-left: 40px;
    margin-bottom: 42px;

    @include word-font ("Oswald", 20px, 30px);
  }

  @media (--wide-vp) {
    padding-left: 0;
    margin-bottom: 66px;
  }
}
