.header {
  background-color: var(--white-color);
  color: var(--black-color);
}

.header__container {
  box-sizing: border-box;
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (--not-narrow-vp) {
    flex-direction: row;
    min-height: 107px;
  }

  @media (--wide-vp) {
    min-height: 165px;
    box-sizing: border-box;
  }
}

.header__logo {
  z-index: 100;
  display: flex;
  align-items: center;
  min-height: 65px;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }

  &:not(:hover) {
    transition: opacity 0.2s ease;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    border: none;
    border-radius: 2px;
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }
}

.header__logo img {
  @media (--not-narrow-vp) {
    width: 174px;
    height: 52px;
  }

  @media (--wide-vp) {
    width: 202px;
    height: 60px;
  }
}


.header__logo-none {
  display: flex;
  align-items: center;
  width: 101px;
  height: 18px;

  @media (--not-narrow-vp) {
    display: none;
  }
}

.header__logo-none img {
  margin-left: -17px;
  width: 101px;
  height: 18px;
}
