.header {
  background-color: $basic-white;
  color: $basic-black;
}

.header__container {
  box-sizing: border-box;
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 100px;
  }

  @media (min-width: $desktop-width) {
    min-height: 165px;
    box-sizing: border-box;
  }
}

.header__logo {
  z-index: 100;
  display: flex;
  align-items: center;
  min-height: 65px;

  :hover {
    opacity: 0.8;
  }

  :active {
    opacity: 0.6;
  }
}

.header__logo img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}


.header__logo--none {
  //z-index: 100;
  display: flex;
  align-items: center;
  min-height: 65px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
