.heading__text {
  margin: 0;
  padding: 0;
  z-index: 3;
  background-color: var(--white-color);
  display: inline-block;
  position: relative;
  max-width: 190px;

  @include word-font ("Oswald", 24px, 24px);

  @media (--not-narrow-vp) {
    max-width: 100%;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (--wide-vp) {
    padding: 0;
  }

  &--width {
    max-width: 230px;

    @media (--not-narrow-vp) {
      max-width: 100%;
    }
  }

  &--decor::before {
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    width: calc(100% + 50px);
    background-color: var(--white-color);
    top: 50%;
    left: -30px;
    z-index: -1;

    @media (--not-narrow-vp) {
      width: 100%;
      left: 0;
    }

    @media (--wide-vp) {
      width: calc(100% + 75px);
      left: -40px;
    }
  }

  &--decor::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    top: 60%;
    left: -100vw;
    box-shadow: 100vw 0 0 0 var(--accent-color);
    background-color: var(--accent-color);
    z-index: -2;
  }

  &--line-down::after {
    @media (--narrow-vp) {
      top: 40%;
    }
  }

  &--line-down::before {
    @media (--narrow-vp) {
      top: 40%;
    }
  }

  &--place {
    @media (--middle-vp) {
      margin-left: -36px;
    }
  }
}
