.logo-academy {
  //display: block;
  width: 39px;
  height: 47px;
  fill: $special_grey-2;
  margin-right: -7px;

  // &:hover {
  //   fill: $basic_green;
  // }

  // &:active {
  //   fill: $basic_green;
  //   opacity: 0.3;
  // }
}
