.navigation__button {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 18px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  @media (--not-narrow-vp) {
    display: none;
  }
}

.navigation--closed .navigation__button::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--black-color);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 8px 0 0 var(--black-color), 0 16px 0 0 var(--black-color);
}

.navigation--opened .navigation__button {
  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: var(--black-color);
    position: absolute;
    top: 6px;
    left: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (--narrow-vp) {
  .navigation--closed .navigation__container {
    display: none;
  }

  .navigation--opened .navigation__container {
    display: block;
  }

  .navigation--nojs {
    width: 100%;
  }

  .navigation--nojs .navigation__container {
    position: static;
    display: block;
  }

  .navigation--nojs .navigation__button {
    display: none;
  }
}

.navigation__list {
  @include list-zero;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);

  @media (--not-narrow-vp) {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__link {
  text-decoration: none;
  display: block;
  padding: 22px 20px 24px 20px;
  color: var(--black-color);
  text-transform: uppercase;
  position: relative;

  @include word-font ("Oswald", 20px, 20px);
  font-weight: 500;

  @media (--not-narrow-vp) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 31px;

    @include word-font ("Oswald", 18px, 24px);
  }

  @media (--wide-vp) {
    color: var(--black-color);

    @include word-font ("Oswald", 20px, 30px);
  }

  &:hover {
    @media (--not-narrow-vp) {
      opacity: 0.6;
      transition: opacity 0.4s ease;
    }
  }

  &:not(:hover) {
    @media (--not-narrow-vp) {
      transition: opacity 0.4s ease;
    }
  }

  &:active {
    @media (--not-narrow-vp) {
      opacity: 0.3;
    }
  }
}

.navigation__link--active {
  &::before {
    @media (--not-narrow-vp) {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 14px;
      background-color: var(--accent-color);
    }

    @media (--wide-vp) {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 17px;
      background-color: var(--accent-color);
    }
  }
}

.navigation__item {
  @media (--narrow-vp) {
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--main-border-color);

    &:last-child {
      border-bottom: 1px solid var(--main-border-color);
    }
  }

  @media (--not-narrow-vp) {
    margin-left: 10px;
    margin-right: 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__link--white {
  @media (--wide-vp) {
    color: var(--white-color);
  }

  &::before {
    background-color: var(--accent-color);

    @media (--wide-vp) {
      background-color: var(--white-color);
    }
  }
}

.navigation__container {
  position: absolute;
  right: 0;
  top: 63px;
  width: 100%;
  z-index: 100;

  @media (--not-narrow-vp) {
    position: relative;
    top: 0;
    width: 440px;
  }

  @media (--wide-vp) {
    top: 0;
    width: 478px;
  }
}
