.navigation {
  @media (min-width: $desktop-width) {
    //
  }
}

.navigation__button {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 18px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--closed .navigation__button::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.navigation--opened .navigation__button {
  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: $basic-black;
    position: absolute;
    top: 2px;
    left: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .navigation--closed .navigation__container {
    display: none;
  }

  .navigation--opened .navigation__container {
    display: block;
  }

  .navigation--nojs {
    width: 100%;
  }

  .navigation--nojs .navigation__container {
    position: static;
    display: block;
  }

  .navigation--nojs .navigation__button {
    display: none;
  }
}

.navigation__list {
  @include list-zero;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  //background-color: rgba(lightcoral, 0.7);
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__link {
  text-decoration: none;
  display: block;
  padding: 22px 20px 24px 20px;
  color: $basic-black;
  text-transform: uppercase;
  position: relative;

  @include word-font ("Oswald", 20px, 20px);
  font-weight: 500;

  @media (min-width: $tablet-width) {
    @include word-font ("Oswald", 18px, 24px);
    padding-left: 0;
    padding-right: 0;
    padding-top: 31px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;

    @include word-font ("Oswald", 20px, 30px);
  }
}

.navigation__link--active {
  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 14px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 17px;
      background-color: $basic-white;
    }
  }
}

.navigation__item {
  @media (max-width: $mobile-width-only) {
    width: 100%;
    text-align: center;
    border-top: 1px solid $special_grey-3;

    &:last-child {
      border-bottom: 1px solid $special_grey-3;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    margin-right: 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.navigation__link--black {
  color: $basic-black;

  &::before {
    background-color: $basic-green;
  }
}

.navigation__container {
  position: absolute;
  right: 0;
  top: 63px;
  width: 100%;
  z-index: 100;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    width: 478px;
  }
}
