.page-header {
  background-color: $basic-white;
  color: $basic-black;
  position: relative;
}

.page-header__container {
  padding: 0 20px;
  margin: 0 auto;
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 120px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    position: absolute;
    z-index: 20;
    box-sizing: border-box;
    width: 100%;
  }
}

.page-header__logo {
  display: block;
}

.page-header__logo--none {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

