.page-header {
  background-color: $basic-white;
  color: $basic-black;
  position: relative;
}

.page-header__container {
  //padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 66px;
  display: flex;
  //flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 100px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    min-height: 170px;
    padding: 0 110px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    width: 1440px;
  }
}

.page-header__container--block {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 110px;
    box-sizing: border-box;
    position: static;
    transform: none;
  }
}

.page-header__logo {
  display: block;
  margin: 10px 20px 13px 20px;
}

.page-header__logo--none {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
