.page {
  height: 100%;
}

.page__body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: var(--white-color);
  color: var(--black-color);
  min-width: 320px;
  overflow-x: hidden;
}

.page__centerer {
  margin: 0 20px;
  box-sizing: border-box;

  @media (--not-narrow-vp) {
    margin: 0 30px;
  }

  @media (--wide-vp) {
    margin: 0 auto;
    width: 1220px;
  }
}

.page__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}
