.page-footer {
  background-color: $basic-grey;
  color: $basic-black;
}

.page-footer__container {
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 32px;
  text-align: center;
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 21px;
  text-align: center;
}

.page-footer__academy-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
