.page-header {
  background-color: #ffffff;
  color: #000000;
}

.page-header__container {
  padding: 10px 20px 17px 20px;
  margin: 0;
}

// .page-header__container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.page-header__logo {
  display: block;
}
