.process {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 48px;
  box-sizing: border-box;
  position: relative;

  @media (--not-narrow-vp) {
    padding-top: 45px;
    padding-bottom: 36px;
  }

  @media (--wide-vp) {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;
    padding-top: 35px;
  }

  &::before {
    @media (--middle-vp) {
      position: absolute;
      content: "";
      width: calc(100% + 60px);
      left: -30px;
      height: 1px;
      bottom: 0;
      background-color: var(--main-border-color);
    }
  }
}

.process__title {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;

  @include word-font ("Oswald", 36px, 40px);

  @media (--not-narrow-vp) {
    margin-bottom: 71px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (--wide-vp) {
    margin-top: 0;
    margin-bottom: 73px;
  }
}

.process__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (--not-narrow-vp) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 68px;
  }

  @media (--wide-vp) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 0;
    column-gap: 80px;
  }
}

.process__item {
  min-height: 60px;
  position: relative;

  @media (--not-narrow-vp) {
    min-height: 250px;
  }
}

.process__text {
  margin: 0;
  padding-left: 80px;
  color: var(--form-color);
  position: relative;
  z-index: 4;

  @include word-font ("Arial", 14px, 18px);

  @media (--not-narrow-vp) {
    padding-top: 111px;
    padding-left: 0;
    padding-right: 70px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (--wide-vp) {
    padding-right: 0;
  }

  &::before {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-position: center, center;
    background-repeat: no-repeat;
    background-color: var(--accent-color);

    @media (--not-narrow-vp) {
      top: 0;
      transform: translateY(0);
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (--not-narrow-vp) {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      color: var(--footer-bg);
      top: -40px;
      left: 118px;
      z-index: -1;

      @include word-font ("Oswald", 280px, 280px);
    }
  }
}

.process__text--useful::before {
  content: "";
  background-image: url("../../icons/sprite.svg#process-useful");
  background-size: 30px 32px;
}

.process__text--flour::before {
  content: "";
  background-image: url("../../icons/sprite.svg#process-flour");
  background-size: 29px 31px;
}

.process__text--eat::before {
  content: "";
  background-image: url("../../icons/sprite.svg#process-eat");
  background-size: 25px 30px;
}

.process__text--time::before {
  content: "";
  background-image: url("../../icons/sprite.svg#process-time");
  background-size: 32px 33px;
}
