.process__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special_grey-3;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

.process__title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 40px;
  padding: 0;

  @include word-font ("Oswald", 36px, 40px);

  @media (min-width: $tablet-width) {
    margin-top: 47px;
    margin-bottom: 74px;

    @include word-font ("Oswald", 60px, 60px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 73px;
  }
}

.process__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 0;
    column-gap: 80px;
  }
}

.process__item {
  min-height: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 280px;
  }
}

.process__text {
  margin: 0;
  padding-left: 80px;
  color: $special_dark-grey;
  position: relative;
  z-index: 4;

  @include word-font ("Arial", 14px, 18px);

  @media (min-width: $tablet-width) {
    padding-top: 111px;
    padding-left: 0;
    padding-right: 70px;

    @include word-font ("Arial", 16px, 24px);
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &::before {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-position: center, center;
    background-repeat: no-repeat;
    background-color: $basic_green;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      color: $basic-grey;
      top: -40px;
      left: 118px;
      z-index: -1;

      @include word-font ("Oswald", 280px, 280px);
    }
  }
}

.process__text--useful::before {
  content: "";
  background-image: url("../img/pseudo/process-useful.svg");
}

.process__text--useful::after {
  @media (min-width: $tablet-width) {
    content: "1";
  }
}

.process__text--flour::before {
  content: "";
  background-image: url("../img/pseudo/process-flour.svg");
}

.process__text--flour::after {
  @media (min-width: $tablet-width) {
    content: "2";
  }
}

.process__text--eat::before {
  content: "";
  background-image: url("../img/pseudo/process-eat.svg");
}

.process__text--eat::after {
  @media (min-width: $tablet-width) {
    content: "3";
  }
}

.process__text--time::before {
  content: "";
  background-image: url("../img/pseudo/process-time.svg");
}

.process__text--time::after {
  @media (min-width: $tablet-width) {
    content: "4";
  }
}
