.product {
  position: relative;

  @media (--narrow-vp) {
    &::before {
      content: "";
      position: absolute;
      bottom: -25px;
      left: -20px;
      height: 1px;
      width: 100vw;
      background-color: var(--button-color);
    }
  }

  @media (--not-narrow-vp) {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 39px;
    background: linear-gradient(to bottom, transparent 70px, var(--footer-bg) 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-bottom: 22px;

  @media (--not-narrow-vp) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    flex-grow: 1;
  }
}

.product__img-link {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;

  @media (--not-narrow-vp) {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    min-height: 200px;
  }
}

.product__image {
  display: block;
  margin: 0;

  @media (--not-narrow-vp) {
    width: 161px;
    height: 172px;
  }

  &--size {
    @media (--not-narrow-vp) {
      width: 168px;
      height: 200px;
    }

    @media (--wide-vp) {
      width: 172px;
      height: 196px;
    }
  }
}

.product__title-link {
  display: block;
  text-decoration: none;
  color: var(--black-color);
  margin-bottom: 14px;
  text-transform: uppercase;
  width: 60%;


  @include word-font ("Oswald", 16px, 20px);

  @media (--not-narrow-vp) {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    margin-top: 35px;
    margin-bottom: 20px;

    @include word-font ("Oswald", 20px, 24px);
  }

  @media (--wide-vp) {
    width: 90%;
  }
}

.product__discription-container {
  margin-right: 0;

  @media (--not-narrow-vp) {
    width: 100%;
  }
}

.product__card-list {
  @include list-zero;

  @media (--not-narrow-vp) {
    width: 100%;
  }
}

.product__card-item {
  display: flex;
  justify-content: space-between;
  width: 142px;

  @media (--not-narrow-vp) {
    width: 100%;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--light-form-color);
    margin-bottom: 8px;
  }
}

.product__card-point {
  color: var(--form-color);

  @include word-font ("Arial", 12px, 16px);

  @media (--not-narrow-vp) {
    @include word-font ("Arial", 16px, 16px);
  }
}

.product__button {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
