.product-more {
  margin-bottom: 25px;
}

.product-more__container {
  display: flex;
  flex-direction: column;
 // padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.product-more__big-text {
  align-self: center;
  margin-top: 23px;
  margin-bottom: 8px;
  text-transform: uppercase;

  @include word-font ("Oswald", normal, normal, 16px, 20px);
}

.product-more__small-text {
  align-self: center;
  margin-bottom: 21px;
  color: $special_dark-grey;

  @include word-font ("Arial", normal, normal, 12px, 16px);
}

.product-more--button-gray {
  background-color: $basic_grey;
  color: $special_dark-grey;
}
