.product-gift {
  margin-bottom: 35px;
  margin-top: 39px;
  padding: 0;
  color: $basic-white;
  background: linear-gradient(rgba($basic_green, 0.85) 50%, rgba($basic_green, 0.85) 50%), url("../../img/gift-cat.jpg");
  background-size: cover, cover;
  background-position: center, center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-gift__text {
  display: block;
  padding: 187px 61px 43px 58px;
  text-align: center;

  @include word-font ("Arial", 16px, 20px);

  @media (min-width: $tablet-width) {
    padding: 71px 124px 69px 422px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 184px;
    padding-left: 40px;
    padding-right: 43px;
    padding-bottom: 42px;
  }
}
