.product-gift__container {
  margin-top: 33px;
  margin-bottom: 35px;
  color: $basic-white;
  background: linear-gradient(rgba($basic_green, 0.85) 50%, rgba($basic_green, 0.85) 50%), url("../../img/catalog/gift-cat-mobile@1x.png");
  background-size: cover, cover;
  background-position: center, center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-resolution: 2dppx) {
    background:
      linear-gradient(rgba($basic_green, 0.85) 50%, rgba($basic_green, 0.85) 50%),
      url("../../img/catalog/gift-cat-mobile@2x.png");
    background-size: cover, cover;
    background-position: center, center;
  }

  @media (min-width: $tablet-width) {
    margin-top: 68px;
    margin-bottom: 76px;
    background: linear-gradient(rgba($basic_green, 0.85) 50%, rgba($basic_green, 0.85) 50%), url("../../img/catalog/gift-cat-tablet@1x.png");
    background-size: cover, cover;
    background-position: center, center;

    @media (min-resolution: 2dppx) {
      background:
        linear-gradient(rgba($basic_green, 0.85) 50%, rgba($basic_green, 0.85) 50%),
        url("../../img/catalog/gift-cat-tablet@2x.png");
      background-size: cover, cover;
      background-position: center, center;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    background: linear-gradient(rgba($basic_green, 0.85) 50%, rgba($basic_green, 0.85) 50%), url("../../img/catalog/gift-cat-desktop@1x.png");
    background-size: cover, cover;
    background-position: center, center;

    @media (min-resolution: 2dppx) {
      background:
        linear-gradient(rgba($basic_green, 0.85) 50%, rgba($basic_green, 0.85) 50%),
        url("../../img/catalog/gift-cat-desktop@2x.png");
      background-size: cover, cover;
      background-position: center, center;
    }
  }
}

.product-gift__text {
  margin: 0;
  display: block;
  padding: 187px 61px 43px 58px;
  text-align: center;

  @include word-font ("Arial", 16px, 20px);

  @media (min-width: $tablet-width) {
    padding: 71px 124px 69px 422px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 184px;
    padding-left: 40px;
    padding-right: 43px;
    padding-bottom: 42px;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background-image: url("../../icons/sprite.svg#gift");

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 77px;
      width: 80px;
      height: 82px;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
