.product-more {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  @media (--not-narrow-vp) {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 39px;
    margin-top: 70px;
    border: 2px solid var(--footer-bg);
  }
}

.product-more__big-text {
  align-self: center;
  margin-top: 23px;
  margin-bottom: 8px;
  text-transform: uppercase;

  @include word-font ("Oswald", 16px, 20px);

  @media (--not-narrow-vp) {
    margin-bottom: 23px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    //@include word-font ("Oswald", 20px, 22px);
  }

  @media (--wide-vp) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.product-more__small-text {
  align-self: center;
  margin-bottom: 21px;
  color: var(--form-color);

  @include word-font ("Arial", 12px, 16px);

  @media (--not-narrow-vp) {
    margin-bottom: 87px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    //@include word-font ("Arial", 16px, 18px);
  }
}

.product-more__button {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--footer-bg);
  color: var(--form-color);
  align-content: flex-end;
  width: 100%;

  &:hover {
    background-color: var(--button-color);
  }

  &:active {
    background-color: var(--button-color);
    color: rgba(var(--form-color), 0.3);
  }
}

.product-more__link {
  position: relative;
  display: block;
  margin-top: 5px;
  width: 30px;
  height: 30px;

  @media (--not-narrow-vp) {
    width: 60px;
    height: 60px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--catalog-more-color);
    top: 50%;
    transform: translateY(-50%);

    @media (--not-narrow-vp) {
      width: 60px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: var(--catalog-more-color);
    left: 50%;
    transform: translateX(-50%);

    @media (--not-narrow-vp) {
      height: 60px;
      transform: translateX(0);
    }
  }
}
