.programs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;

  @media (--wide-vp) {
    padding-top: 82px;
    padding-bottom: 71px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.programs__item {
  margin-bottom: 15px;
  background-color: var(--footer-bg);
  position: relative;

  @media (--not-narrow-vp) {
    margin-bottom: 30px;
  }

  @media (--wide-vp) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;

    @media (--not-narrow-vp) {
      margin-bottom: 0;
    }
  }
}

.programs__title {
  text-transform: uppercase;
  display: block;
  padding-top: 32px;
  padding-left: 91px;
  padding-bottom: 29px;

  @include word-font ("Oswald", 24px, 37px);

  @media (--not-narrow-vp) {
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 24px;

    @include word-font ("Oswald", 36px, 36px);
  }

  @media (--wide-vp) {
    padding-bottom: 73px;
    padding-left: 214px;
  }
}

.programs__title--cat-sit::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 53px;
  top: 21px;
  left: 22px;
  background-image: url("../../img/pseudo/cat-sit.svg");
  background-size: cover;

  @media (--not-narrow-vp) {
    left: auto;
    right: 62px;
    width: 200px;
    height: 211px;
    top: 81px;
  }

  @media (--wide-vp) {
    left: 52px;
    right: auto;
    width: 100px;
    height: 106px;
    top: 41px;
  }
}

.programs__title--cat-walk::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 50px;
  top: 24px;
  left: 13px;
  background-image: url("../../img/pseudo/cat-walk.svg");
  background-size: cover;

  @media (--not-narrow-vp) {
    left: auto;
    right: 28px;
    width: 268px;
    height: 200px;
    top: 91px;
  }

  @media (--wide-vp) {
    left: 35px;
    right: auto;
    width: 134px;
    height: 100px;
    top: 41px;
  }
}

.programs__text {
  color: var(--form-color);
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid var(--border-color);

  @include word-font ("Arial", 14px, 18px);

  @media (--not-narrow-vp) {
    margin: 0;
    padding-left: 52px;
    padding-right: 316px;
    border-bottom: none;

    @include word-font ("Arial", 16px, 24px);
  }

  @media (--wide-vp) {
    padding-left: 52px;
    padding-right: 51px;
    padding-bottom: 15px;
  }
}

.programs__link {
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
  padding-left: 19px;
  padding-bottom: 10px;
  margin-bottom: 14px;
  margin-top: 9px;
  color: var(--black-color);
  text-transform: uppercase;
  position: relative;

  @include word-font ("Oswald", 16px, 16px);

  @media (--not-narrow-vp) {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    margin-left: 52px;
    margin-top: 20px;
    margin-bottom: 46px;

    @include word-font ("Oswald", 20px, 30px);
  }

  &:active {
    opacity: 0.3;
  }

  @media (--wide-vp) {
    margin-bottom: 49px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
  }
}

.programs__link-arrow {
  &::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    right: -48px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../icons/sprite.svg#arrow");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: -8px;
    transition: background-position 0.1s ease-out;

    @media (--not-narrow-vp) {
      right: -60px;
    }
  }

  &:hover::after {
    background-position-x: 0;
  }

  &:active {
    opacity: 0.3;
  }
}
