.slogan {
  background: linear-gradient(var(--accent-trans-color) 302px, transparent 302px), url("../../img/cat-bg-mobile@1x.webp"), linear-gradient(#4f4e54 302px, transparent 302px);
  background-repeat: repeat, no-repeat;
  background-position-x: center, center;
  background-position-y: top, top;
  position: relative;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(var(--accent-trans-color) 302px, transparent 302px), url("../../img/cat-bg-mobile@2x.webp"), linear-gradient(#4f4e54 302px, transparent 302px);
    background-size: auto, 320px, auto;
    background-repeat: repeat, no-repeat;
    background-position-x: center, center;
    background-position-y: top, top;
  }

  @media (--not-narrow-vp) {
    background-color: var(--white-color);
    background-image: none;
  }

  &::before {
    @media (--wide-vp) {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 150%;
      background:
        linear-gradient(to left, var(--accent-trans-color) 50%, var(--white-color) 50%),
        url("../../img/cat-bg-desktop@1x.webp"),
        linear-gradient(to left, #4f4e54 50%, var(--white-color) 50%);
      background-repeat: repeat, no-repeat, repeat;
      background-position-x: center, right, center;
      background-position-y: top, bottom, top;

      @media (min-resolution: 2dppx) {
        background:
          linear-gradient(to left, var(--accent-trans-color) 50%, var(--white-color) 50%),
          url("../../img/cat-bg-desktop@2x.webp"),
          linear-gradient(to left, #4f4e54 50%, var(--white-color) 50%);
        background-size: auto auto, 720px auto, auto auto;
        background-position-x: center, right, center;
        background-position-y: top, bottom, top;
        background-repeat: repeat, no-repeat, repeat;
      }
    }
  }
}

.slogan__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  @media (--not-narrow-vp) {
    position: relative;
  }
}

.slogan__title {
  color: var(--white-color);
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
  text-align: center;
  max-width: 250px;

  @include word-font ("Oswald", 36px, 36px);

  @media (--not-narrow-vp) {
    max-width: 450px;
    text-align: left;
    margin-top: 40px;
    margin-left: 89px;
    color: var(--black-color);
    align-self: flex-start;
    margin-bottom: 41px;
    z-index: 2;

    @include word-font ("Oswald", 60px, 60px);
  }

  @media (--wide-vp) {
    margin-top: 60px;
    margin-left: 80px;
  }
}

.slogan__text {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  color: var(--white-color);

  @include word-font ("Oswald", 14px, 14px);

  @media (--not-narrow-vp) {
    margin-left: 90px;
    margin-bottom: 48px;
    color: var(--black-color);
    align-self: flex-start;
    z-index: 2;

    @include word-font ("Oswald", 20px, 20px);
  }

  @media (--wide-vp) {
    margin-left: 80px;
    margin-bottom: 52px;
    width: 450px;
  }
}

.slogan__image {
  display: block;
  margin-bottom: 3px;

  @media (--not-narrow-vp) {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 709px;
    height: 609px;
  }

  @media (--wide-vp) {
    position: absolute;
    z-index: 1;
    left: 173px;
    top: -25px;
    width: 552px;
    height: 499px;
  }
}

.slogan__button {
  width: 100%;
  margin-bottom: 20px;

  @media (--not-narrow-vp) {
    width: 244px;
    margin-left: 90px;
    margin-bottom: 526px;
    align-self: flex-start;
    z-index: 3;
  }

  @media (--wide-vp) {
    margin-left: 80px;
    margin-bottom: 185px;
  }
}
