.slogan {
  margin-top: 0;
  margin-bottom: 20px;
  background: linear-gradient(rgba($basic_green, 0.85) 302px, transparent 302px), url("../../img/slogan-cat.png"), linear-gradient(#4f4e54 302px, transparent 302px);
  background-repeat: repeat, no-repeat;
  background-position-x: center, center;
  background-position-y: top, top;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to left, rgba($basic_green, 0.85) 50%, transparent 50%), url("../../img/slogan-cat.png"), linear-gradient(to left, #4f4e54 50%, transparent 50%);
    background-repeat: repeat, no-repeat;
    background-position-x: center, right;
    background-position-y: top, center;
  }
}

.slogan__container {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 141px 110px 0 110px;
    max-width: 1440px;
  }
}

.slogan__title {
  color: $basic-white;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
  text-align: center;

  @include word-font ("Oswald", normal, normal, 36px, 36px);

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 89px;
    color: $basic-black;
    align-self: flex-start;
    margin-bottom: 41px;
    z-index: 2;

    @include word-font ("Oswald", normal, normal, 60px, 60px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.slogan__text {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  color: $basic-white;

  @include word-font ("Oswald", normal, normal, 14px, 14px);

  @media (min-width: $tablet-width) {
    margin-left: 89px;
    margin-bottom: 20px;
    color: $basic-black;
    align-self: flex-start;
    z-index: 2;

    @include word-font ("Oswald", normal, normal, 20px, 20px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.slogan__image {
  display: block;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    top: 150px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    align-self: flex-end;
    top: calc(50% + 141px);
    transform: translateY(-50%);
    left: 50%;
  }
}

.slogan__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    bottom: 200px;
    width: 244px;
    margin-left: 89px;
    align-self: flex-start;

    @include word-font ("Oswald", normal, normal, 20px, 20px);
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
