@font-face {
  font-family: "Oswald";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Arial", "Helvetica", sans-serif;
  background: #ffffff;
  color: #000000;
  min-width: 320px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

.sticky-footer {
  flex-grow: 1;
}

.page__centerer {
  margin: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .page__centerer {
    margin: 0 30px;
  }
}
@media (min-width: 1280px) {
  .page__centerer {
    margin: 0 auto;
    width: 1220px;
  }
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.page-header__container {
  box-sizing: border-box;
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .page-header__container {
    flex-direction: row;
    min-height: 100px;
  }
}
@media (min-width: 1280px) {
  .page-header__container {
    min-height: 165px;
    box-sizing: border-box;
  }
}

.page-header__logo {
  z-index: 100;
  display: flex;
  align-items: center;
  min-height: 65px;
}
.page-header__logo:nth-child(2) {
  margin-right: 35px;
}

@media (min-width: 768px) {
  .page-header__logo--none {
    display: none;
  }
}

.navigation__button {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 18px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.navigation--closed .navigation__button::after {
  content: "";
  width: 24px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.navigation--opened .navigation__button::before, .navigation--opened .navigation__button::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 6px;
  left: 0;
}
.navigation--opened .navigation__button::before {
  transform: rotate(45deg);
}
.navigation--opened .navigation__button::after {
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .navigation--closed .navigation__container {
    display: none;
  }

  .navigation--opened .navigation__container {
    display: block;
  }

  .navigation--nojs {
    width: 100%;
  }

  .navigation--nojs .navigation__container {
    position: static;
    display: block;
  }

  .navigation--nojs .navigation__button {
    display: none;
  }
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__link {
  text-decoration: none;
  display: block;
  padding: 22px 20px 24px 20px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .navigation__link {
    padding-left: 0;
    padding-right: 0;
    padding-top: 31px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .navigation__link {
    color: #ffffff;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .navigation__link:hover {
    opacity: 0.6;
  }
}
@media (min-width: 768px) {
  .navigation__link:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .navigation__link--active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 14px;
    background-color: #68b738;
  }
}
@media (min-width: 1280px) {
  .navigation__link--active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 17px;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .navigation__item {
    width: 100%;
    text-align: center;
    border-top: 1px solid #e6e6e6;
  }
  .navigation__item:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 768px) {
  .navigation__item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navigation__item:first-child {
    margin-left: 0;
  }
  .navigation__item:last-child {
    margin-right: 0;
  }
}

.navigation__link--black {
  color: #000000;
}
.navigation__link--black::before {
  background-color: #68b738;
}

.navigation__container {
  position: absolute;
  right: 0;
  top: 63px;
  width: 100%;
  z-index: 100;
}
@media (min-width: 768px) {
  .navigation__container {
    position: relative;
    top: 0;
    width: 440px;
  }
}
@media (min-width: 1280px) {
  .navigation__container {
    top: 0;
    width: 478px;
  }
}

.page-main {
  color: #000000;
  background-color: #ffffff;
}

.catalog-main {
  color: #000000;
  background-color: #ffffff;
}

.catalog-main__container {
  display: flex;
  flex-direction: column;
}

.catalog-main__title {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 41px;
  position: relative;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .catalog-main__title {
    margin-top: 40px;
    margin-bottom: 82px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1280px) {
  .catalog-main__title {
    margin-top: 23px;
    margin-bottom: 82px;
  }
}
@media (max-width: 767px) {
  .catalog-main__title::before {
    content: "";
    position: absolute;
    top: -28px;
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: #ebebeb;
  }
}
@media (max-width: 767px) {
  .catalog-main__title::after {
    content: "";
    position: absolute;
    bottom: -41px;
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: #ebebeb;
  }
}

.catalog-main__product-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 45px;
}
@media (min-width: 768px) {
  .catalog-main__product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .catalog-main__product-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 63px;
    column-gap: 80px;
  }
}

.catalog-main__other-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .catalog-main__other-container {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
    align-items: center;
  }
}

.catalog-main__other-title {
  display: inline-block;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 36px;
  padding: 0;
  position: relative;
  z-index: 3;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog-main__other-title {
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 79px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1280px) {
  .catalog-main__other-title {
    padding: 0;
    margin-bottom: 9px;
  }
}
.catalog-main__other-title--decor::before {
  position: absolute;
  content: "";
  display: block;
  height: 10px;
  width: calc(100% + 50px);
  background-color: #ffffff;
  top: 50%;
  left: -30px;
  z-index: -1;
}
@media (min-width: 768px) {
  .catalog-main__other-title--decor::before {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 1280px) {
  .catalog-main__other-title--decor::before {
    width: calc(100% + 75px);
    left: -40px;
  }
}
.catalog-main__other-title--decor::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100vw;
  top: 60%;
  left: -100vw;
  box-shadow: 100vw 0 0 0 #68b738;
  background-color: #68b738;
  z-index: -2;
}

.slogan {
  background: linear-gradient(rgba(104, 183, 56, 0.85) 302px, transparent 302px), url("../img/slogan-cat.jpg"), linear-gradient(#4f4e54 302px, transparent 302px);
  background-repeat: repeat, no-repeat;
  background-position-x: center, center;
  background-position-y: top, top;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .slogan {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 302px, transparent 302px), url("../img/slogan-cat@2x.jpg"), linear-gradient(#4f4e54 302px, transparent 302px);
    background-size: 320px auto;
    background-repeat: repeat, no-repeat;
    background-position-x: center, center;
    background-position-y: top, top;
  }
}
@media (min-width: 768px) {
  .slogan {
    background-color: #ffffff;
    background-image: none;
  }
}
@media (min-width: 1280px) {
  .slogan::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 150%;
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%), url("../img/slogan-cat-desktop.jpg"), linear-gradient(to left, #4f4e54 50%, #ffffff 50%);
    background-repeat: repeat, no-repeat, repeat;
    background-position-x: center, right, center;
    background-position-y: top, bottom, top;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .slogan::before {
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, #ffffff 50%), url("../img/slogan-cat-desktop@2x.jpg"), linear-gradient(to left, #4f4e54 50%, #ffffff 50%);
    background-size: auto auto, 720px auto, auto auto;
    background-position-x: center, right, center;
    background-position-y: top, bottom, top;
    background-repeat: repeat, no-repeat, repeat;
  }
}

.slogan__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .slogan__container {
    position: relative;
  }
}

.slogan__title {
  color: #ffffff;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
  text-align: center;
  max-width: 250px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .slogan__title {
    max-width: 450px;
    text-align: left;
    margin-top: 40px;
    margin-left: 89px;
    color: #000000;
    align-self: flex-start;
    margin-bottom: 41px;
    z-index: 2;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1280px) {
  .slogan__title {
    margin-top: 60px;
    margin-left: 80px;
  }
}

.slogan__text {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  color: #ffffff;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .slogan__text {
    margin-left: 90px;
    margin-bottom: 48px;
    color: #000000;
    align-self: flex-start;
    z-index: 2;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .slogan__text {
    margin-left: 80px;
    margin-bottom: 52px;
  }
}

.slogan__image {
  display: block;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .slogan__image {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1280px) {
  .slogan__image {
    position: absolute;
    z-index: 1;
    left: 173px;
    top: -25px;
    width: 552px;
    height: 499px;
  }
}

.slogan__button {
  width: 100%;
}
@media (min-width: 768px) {
  .slogan__button {
    width: 244px;
    margin-left: 90px;
    margin-bottom: 526px;
    align-self: flex-start;
    z-index: 3;
  }
}
@media (min-width: 1280px) {
  .slogan__button {
    margin-left: 80px;
    margin-bottom: 185px;
  }
}

.button {
  text-decoration: none;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .button {
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.programs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .programs__container {
    padding-top: 82px;
    padding-bottom: 71px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1280px) {
  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.programs__item {
  margin-bottom: 15px;
  background-color: #f2f2f2;
  position: relative;
}
@media (min-width: 768px) {
  .programs__item {
    margin-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .programs__item {
    margin-bottom: 0;
  }
}
.programs__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .programs__item:last-child {
    margin-bottom: 0;
  }
}

.programs__title {
  text-transform: uppercase;
  display: block;
  padding-top: 32px;
  padding-left: 91px;
  padding-bottom: 29px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
}
@media (min-width: 768px) {
  .programs__title {
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 24px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1280px) {
  .programs__title {
    padding-bottom: 73px;
    padding-left: 214px;
  }
}

.programs__title--cat-sit::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 53px;
  top: 21px;
  left: 22px;
  background-image: url("../img/pseudo/cat-sit.svg");
  background-size: cover;
}
@media (min-width: 768px) {
  .programs__title--cat-sit::before {
    left: auto;
    right: 62px;
    width: 200px;
    height: 211px;
    top: 81px;
  }
}
@media (min-width: 1280px) {
  .programs__title--cat-sit::before {
    left: 52px;
    right: auto;
    width: 100px;
    height: 106px;
    top: 41px;
  }
}

.programs__title--cat-walk::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 50px;
  top: 24px;
  left: 13px;
  background-image: url("../img/pseudo/cat-walk.svg");
  background-size: cover;
}
@media (min-width: 768px) {
  .programs__title--cat-walk::before {
    left: auto;
    right: 28px;
    width: 268px;
    height: 200px;
    top: 91px;
  }
}
@media (min-width: 1280px) {
  .programs__title--cat-walk::before {
    left: 35px;
    right: auto;
    width: 134px;
    height: 100px;
    top: 41px;
  }
}

.programs__text {
  color: #444444;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .programs__text {
    margin: 0;
    padding-left: 52px;
    padding-right: 316px;
    border-bottom: none;
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .programs__text {
    padding-left: 52px;
    padding-right: 51px;
    padding-bottom: 15px;
  }
}

.programs__link {
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
  padding-left: 19px;
  padding-bottom: 10px;
  margin-bottom: 14px;
  margin-top: 9px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .programs__link {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    margin-left: 52px;
    margin-top: 20px;
    margin-bottom: 46px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}
.programs__link:active {
  opacity: 0.3;
}
.programs__link:hover .programs__link-arrow::after {
  width: 26px;
  right: -42px;
}
.programs__link:hover .programs__link-arrow::before {
  right: -48px;
}
.programs__link:active .programs__link-arrow::after {
  opacity: 0.3;
}
.programs__link:active .programs__link-arrow::before {
  opacity: 0.3;
}
@media (min-width: 1280px) {
  .programs__link {
    margin-bottom: 49px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
  }
}

.programs__link-arrow::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  right: -34px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
}
@media (min-width: 768px) {
  .programs__link-arrow::after {
    right: -42px;
  }
}
.programs__link-arrow::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 7px solid #000000;
  border-bottom: 5px solid transparent;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .programs__link-arrow::before {
    right: -49px;
  }
}

.process__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .process__container {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1280px) {
  .process__container {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

.process__title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .process__title {
    margin-top: 47px;
    margin-bottom: 74px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1280px) {
  .process__title {
    margin-top: 0;
    margin-bottom: 73px;
  }
}

.process__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .process__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
  }
}
@media (min-width: 1280px) {
  .process__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 0;
    column-gap: 80px;
  }
}

.process__item {
  min-height: 60px;
  position: relative;
}
@media (min-width: 768px) {
  .process__item {
    min-height: 280px;
  }
}

.process__text {
  margin: 0;
  padding-left: 80px;
  color: #444444;
  position: relative;
  z-index: 4;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .process__text {
    padding-top: 111px;
    padding-left: 0;
    padding-right: 70px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .process__text {
    padding-right: 0;
  }
}
.process__text::before {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-position: center, center;
  background-repeat: no-repeat;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .process__text::before {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 768px) {
  .process__text::after {
    position: absolute;
    color: #f2f2f2;
    top: -40px;
    left: 118px;
    z-index: -1;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
  }
}

.process__text--useful::before {
  content: "";
  background-image: url("../img/pseudo/process-useful.svg");
}

@media (min-width: 768px) {
  .process__text--useful::after {
    content: "1";
  }
}

.process__text--flour::before {
  content: "";
  background-image: url("../img/pseudo/process-flour.svg");
}

@media (min-width: 768px) {
  .process__text--flour::after {
    content: "2";
  }
}

.process__text--eat::before {
  content: "";
  background-image: url("../img/pseudo/process-eat.svg");
}

@media (min-width: 768px) {
  .process__text--eat::after {
    content: "3";
  }
}

.process__text--time::before {
  content: "";
  background-image: url("../img/pseudo/process-time.svg");
}

@media (min-width: 768px) {
  .process__text--time::after {
    content: "4";
  }
}

.example {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background: linear-gradient(to bottom, transparent 60%, #eaeaea 60%);
  }
}
@media (min-width: 1280px) {
  .example {
    background: linear-gradient(to bottom, transparent 50%, #eaeaea 50%);
  }
}

.example__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 75px;
  }
}

.example__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .example__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1280px) {
  .example__title {
    margin-bottom: 146px;
    margin-top: 28px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .example__text {
    margin-bottom: 54px;
    padding-right: 6px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .example__text {
    padding-right: 134px;
    margin-bottom: 69px;
  }
}

.example__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .example__item-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .example__item-container {
    flex-direction: column;
    align-items: start;
    width: 366px;
  }
}

.example__slider-tablet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .example__slider-tablet-container {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  .example__slider-tablet-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__list {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .example__list {
    width: 52%;
  }
}
@media (min-width: 1280px) {
  .example__list {
    flex-direction: row;
    width: 100%;
    margin-bottom: 44px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  position: relative;
  margin-bottom: 10px;
}

.example__item-value {
  display: block;
  text-align: center;
  width: 124px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #cdcdcd;
  padding-top: 14px;
  padding-bottom: 17px;
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .example__item-value {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-text {
  display: block;
  text-align: center;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  width: 82px;
  color: #444444;
  background-color: #eaeaea;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  left: 50%;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}
@media (min-width: 768px) {
  .example__item-text {
    background-color: #ffffff;
    padding-top: 0;
    padding-left: 3px;
    padding-right: 3px;
    width: 128px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (min-width: 1280px) {
  .example__item-text {
    background-color: #eaeaea;
  }
}

.example__cost {
  text-transform: uppercase;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 40px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .example__cost {
    width: 180px;
    text-align: right;
    margin: 0;
    align-self: flex-start;
    margin-top: 5px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .example__cost {
    width: auto;
  }
}

.example__toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;
}

.example__toggle-container {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example__track {
  width: 86px;
  height: 14px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.example__button {
  width: 36px;
  height: 6px;
  border: 0;
  border-radius: 6px;
  background-color: #68b738;
  position: absolute;
  top: 3px;
  left: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.example__img-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.example__img-after {
  opacity: 0;
  transition: 0.5s;
  grid-area: 1/-1;
}

.example__img-before {
  grid-area: 1/-1;
  transition: 0.5s;
}

.example__grid {
  display: grid;
}

.example__img-object {
  width: 280px;
  height: 232px;
}
@media (min-width: 768px) {
  .example__img-object {
    width: 591px;
    height: 511px;
  }
}

@media (min-width: 1280px) {
  .address {
    display: grid;
  }
}
.address--gray {
  background-color: #f2f2f2;
}
@media (min-width: 1280px) {
  .address--gray {
    background-color: #ffffff;
  }
}

.address__container-page {
  margin: 0 auto;
  padding: 25px 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .address__container-page {
    padding: 56px 70px;
  }
}
@media (min-width: 1280px) {
  .address__container-page {
    grid-area: 1/-1;
    z-index: 4;
    box-sizing: border-box;
    margin-top: 95px;
    margin-left: calc((100vw - 1440px) / 2 + 100px);
    margin-bottom: 107px;
    width: 565px;
    padding: 59px 80px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    align-items: top;
  }
}

.address__title {
  margin: 0;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-right: 15px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .address__title {
    max-width: 200px;
    padding: 0;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
  }
}
@media (min-width: 1280px) {
  .address__title {
    padding-left: 0;
  }
}

.address__text {
  color: #444444;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .address__text {
    text-align: right;
    padding-right: 0;
    padding-left: 150px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .address__text {
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }
}

.address iframe {
  border: none;
  display: block;
  height: 362px;
  width: 100%;
  grid-area: 1/-1;
}
@media (min-width: 768px) {
  .address iframe {
    height: 100%;
  }
}

.page-footer {
  background-color: #f2f2f2;
  color: #000000;
}

@media (min-width: 768px) {
  .page-footer__container {
    padding-top: 58px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .page-footer__container {
    align-items: center;
  }
}

.page-footer__logo {
  display: block;
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-footer__logo {
    padding: 0;
  }
}

.page-footer__social {
  padding-top: 20px;
  padding-bottom: 21px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer__social {
    padding: 0;
  }
}

.page-footer__academy-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .page-footer__academy-logos {
    padding: 0;
  }
}

.page-footer--margin {
  margin-right: 22px;
}

.copyright {
  display: block;
  text-decoration: none;
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.logo-academy {
  display: block;
  width: 27px;
  height: 34px;
  fill: #666666;
}

.social {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product {
  position: relative;
}
@media (max-width: 767px) {
  .product::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: #ebebeb;
  }
}
@media (min-width: 768px) {
  .product {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 39px;
    background: linear-gradient(to bottom, transparent 81px, #f2f2f2 81px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .product__img-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .product__img-link {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }
}

.product__image {
  display: block;
  margin: 0;
}
@media (min-width: 768px) {
  .product__image {
    width: 161px;
    height: 172px;
  }
}
@media (min-width: 768px) {
  .product__image--size {
    width: 168px;
    height: 200px;
  }
}
@media (min-width: 1280px) {
  .product__image--size {
    width: 172px;
    height: 196px;
  }
}

.product__title-link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding-bottom: 14px;
  text-transform: uppercase;
  width: 60%;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .product__title-link {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .product__title-link {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .product__discription-container {
    width: 100%;
  }
}

.product__card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .product__card-list {
    width: 100%;
  }
}

.product__card-item {
  display: flex;
  justify-content: space-between;
  width: 142px;
}
@media (min-width: 768px) {
  .product__card-item {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 14px;
  }
}

.product__card-point {
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .product__card-point {
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
}

.product__button {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.product-more {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
@media (max-width: 767px) {
  .product-more::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: #ebebeb;
  }
}
@media (min-width: 768px) {
  .product-more {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 39px;
  }
}

.product-more__big-text {
  align-self: center;
  margin-top: 23px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .product-more__big-text {
    margin-bottom: 23px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
  }
}

.product-more__small-text {
  align-self: center;
  margin-bottom: 21px;
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .product-more__small-text {
    margin-bottom: 87px;
    text-align: center;
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
}

.product-more__button {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
  color: #444444;
  align-content: flex-end;
  width: 100%;
}
.product-more__button:hover {
  background-color: #ebebeb;
}
.product-more__button:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}

.product-more__link {
  display: block;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background-image: url("../img/pseudo/plus.svg");
  background-size: cover;
}

.product-other {
  margin: 0;
}

.product-other__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 1px;
}

.product-other__item {
  display: grid;
  grid-template-areas: "name name" "lot price" "button button";
  grid-template-columns: 2fr 1fr;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .product-other__item {
    padding: 26px 38px 28px 38px;
    grid-template-areas: "name lot price" "button button button";
    grid-template-columns: 2fr 1fr 93px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
  .product-other__item:first-child {
    border-top: 1px solid #cdcdcd;
  }
}
@media (min-width: 1280px) {
  .product-other__item {
    padding: 15px 0 16px 0;
    grid-template-areas: "name lot price button";
    grid-template-rows: 40px;
    grid-template-columns: 325px 245px 80px 245px;
    border-left: 0;
    border-right: 0;
  }
}

.product-other__name {
  text-transform: uppercase;
  color: #222222;
  grid-area: name;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 14px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .product-other__name {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .product-other__name {
    margin: 0;
  }
}

.product-other__lot {
  color: #444444;
  grid-area: lot;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .product-other__lot {
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: 3px;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .product-other__lot {
    text-align: left;
    margin: 0;
    align-self: center;
  }
}

.product-other__price {
  color: #444444;
  grid-area: price;
  text-align: right;
  align-self: flex-start;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .product-other__price {
    margin-top: 3px;
    margin-bottom: 0;
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .product-other__price {
    text-align: left;
    margin: 0;
    align-self: center;
  }
}

.product-other__button {
  grid-area: button;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .product-other__button {
    margin-bottom: 0;
  }
}

.product-gift {
  margin: 0;
}

.product-gift__container {
  margin-top: 33px;
  margin-bottom: 35px;
  color: #ffffff;
  background: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/catalog/gift-cat-mobile@1x.png");
  background-size: cover, cover;
  background-position: center, center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .product-gift__container {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/catalog/gift-cat-mobile@2x.png");
    background-size: cover, cover;
    background-position: center, center;
  }
}
@media (min-width: 768px) {
  .product-gift__container {
    margin-top: 68px;
    margin-bottom: 76px;
    background: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/catalog/gift-cat-tablet@1x.png");
    background-size: cover, cover;
    background-position: center, center;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .product-gift__container {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/catalog/gift-cat-tablet@2x.png");
    background-size: cover, cover;
    background-position: center, center;
  }
}
@media (min-width: 1280px) {
  .product-gift__container {
    width: 245px;
    background: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/catalog/gift-cat-desktop@1x.png");
    background-size: cover, cover;
    background-position: center, center;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-gift__container {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%), url("../img/catalog/gift-cat-desktop@2x.png");
    background-size: cover, cover;
    background-position: center, center;
  }
}

.product-gift__text {
  margin: 0;
  display: block;
  padding: 187px 61px 43px 58px;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .product-gift__text {
    padding: 71px 124px 69px 422px;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .product-gift__text {
    padding-top: 184px;
    padding-left: 40px;
    padding-right: 43px;
    padding-bottom: 42px;
    text-align: center;
  }
}
.product-gift__text::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background-image: url("../img/pseudo/icon-gift.svg");
}
@media (min-width: 768px) {
  .product-gift__text::before {
    top: 57px;
    left: 77px;
    width: 80px;
    height: 82px;
  }
}
@media (min-width: 1280px) {
  .product-gift__text::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.form-catalog {
  color: #000000;
  background-color: #ffffff;
}

.form-catalog__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .form-catalog__title {
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 56px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1280px) {
  .form-catalog__title {
    padding-left: 0;
    margin-top: 23px;
  }
}

.form-catalog__text {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form-catalog__text {
    padding-left: 40px;
    margin-bottom: 42px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .form-catalog__text {
    padding-left: 0;
    margin-bottom: 66px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .form__fieldset {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (min-width: 1280px) {
  .form__fieldset {
    margin: 0;
  }
}
.form__fieldset--namecat-margin {
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .form__fieldset--namecat-margin {
    margin-top: 24px;
  }
}
.form__fieldset--radio-margin {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form__fieldset--radio-margin {
    margin-top: 77px;
  }
}
.form__fieldset--contacts-margin {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .form__fieldset--contacts-margin {
    margin-bottom: 70px;
  }
}
@media (min-width: 1280px) {
  .form__fieldset--contacts-margin {
    margin-bottom: 52px;
  }
}
.form__fieldset--textarea-margin {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form__fieldset--textarea-margin {
    margin-bottom: 57px;
  }
}
@media (min-width: 1280px) {
  .form__fieldset--textarea-margin {
    margin-bottom: 57px;
  }
}
@media (min-width: 768px) {
  .form__fieldset--add-margin {
    margin-bottom: 0;
  }
}

.form__fieldset--decor-line {
  position: relative;
}
.form__fieldset--decor-line::before {
  position: absolute;
  content: "";
  width: calc(100% + 40px);
  left: -20px;
  height: 1px;
  bottom: -24px;
  background-color: #d9d9d9;
}
@media (min-width: 768px) {
  .form__fieldset--decor-line::before {
    display: none;
  }
}

@media (min-width: 768px) {
  .form__fieldset--border {
    border: 1px solid #e7e7e7;
  }
}

.form__legend {
  display: block;
  margin-bottom: 17px;
  padding: 0;
  position: relative;
  z-index: 3;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form__legend {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
  }
}
.form__legend--width {
  width: 187px;
}
@media (min-width: 768px) {
  .form__legend--width {
    width: auto;
  }
}

.form__legend-contacts {
  display: block;
  margin-bottom: 34px;
  padding: 0;
  position: relative;
  z-index: 3;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form__legend-contacts {
    padding-left: 39px;
    margin-bottom: 80px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
  }
}
.form__legend-contacts--width {
  width: 187px;
}
@media (min-width: 768px) {
  .form__legend-contacts--width {
    width: auto;
  }
}

.form__legend--decor::before {
  position: absolute;
  content: "";
  display: block;
  height: 10px;
  width: calc(100% + 60px);
  background-color: #ffffff;
  top: 50%;
  left: -30px;
  z-index: -1;
}
@media (min-width: 768px) {
  .form__legend--decor::before {
    width: calc(100% + 80px);
    left: -40px;
  }
}

.form__legend--decor::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100vw;
  top: 60%;
  left: -100vw;
  box-shadow: 100vw 0 0 0 #68b738;
  background-color: #68b738;
  z-index: -2;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__list--add {
  margin-top: 22px;
}
@media (min-width: 768px) {
  .form__list--add {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}
@media (min-width: 1280px) {
  .form__list--add {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

@media (min-width: 768px) {
  .form__list-radio {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.form__list--contacts {
  margin-top: 18px;
}
@media (min-width: 768px) {
  .form__list--contacts {
    margin-top: 60px;
  }
}
@media (min-width: 1280px) {
  .form__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__button-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__button-container {
    margin-bottom: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .form__button-container {
    margin-bottom: 82px;
    column-gap: 80px;
  }
}

.form__item {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .form__item {
    margin-bottom: 28px;
  }
}
@media (min-width: 1280px) {
  .form__item {
    margin-bottom: 20px;
  }
}
.form__item:last-child {
  margin: 0;
}

.form__item-radio {
  margin: 0;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__item-radio {
    margin-bottom: 30px;
  }
}
.form__item-radio:last-child {
  margin: 0;
}

.form__item-checkbox {
  margin: 0;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__item-checkbox {
    margin-bottom: 42px;
  }
}
.form__item-checkbox:last-child {
  margin: 0;
}

.form__label {
  text-transform: uppercase;
  flex-shrink: 0;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__label {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label--radio {
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form__label--radio {
    padding-left: 88px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }
}

.form__label--checkbox {
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form__label--checkbox {
    padding-left: 59px;
  }
}
@media (min-width: 1280px) {
  .form__label--checkbox {
    padding-left: 59px;
  }
}

.form__input-container {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  padding-left: 13px;
}
.form__input-container::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 14px;
  background-image: url("../img/pseudo/icon-email.svg");
  background-repeat: no-repeat;
  background-position: center, center;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input {
  height: 45px;
  margin-left: 13px;
  padding: 13px 14px 15px 14px;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid #e7e7e7;
  width: 100%;
  flex-grow: 1;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__input {
    padding: 9px 18px 10px 18px;
    margin-left: 18px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .form__input--namecat {
    height: 52px;
  }
}

.form__input--icon {
  padding-right: 45px;
  margin-left: 0;
}

.form__input::placeholder {
  color: #444444;
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__input::placeholder {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.form__input:focus-visible {
  outline: none;
  border: 1px solid #444444;
  border-radius: 0;
}

.form__input-container:focus-within::after {
  background-image: url("../img/pseudo/icon-email-green.svg");
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  border: 1px solid #e7e7e7;
  resize: none;
  padding: 10px 12px;
  margin-top: 20px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 19px;
    margin-top: 59px;
    height: 178px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__textarea::placeholder {
  text-transform: uppercase;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__textarea::placeholder {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__button {
  border: 0;
  cursor: pointer;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .form__button {
    margin-left: 41px;
    font-family: "Oswald", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .form__button {
    margin-left: 0;
  }
}

.form__required-text {
  text-align: center;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 32px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .form__required-text {
    font-family: "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 768px) {
  .form__required-text {
    padding: 0;
    text-align: left;
  }
}

.form__radio-container {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .form__radio-container {
    margin-bottom: 45px;
  }
}
@media (min-width: 1280px) {
  .form__radio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 72px;
  }
}

.form__input-radio[type=radio]:checked + .form__radio-mark::before {
  background-color: #68b738;
}

.form__input-radio[type=radio] + .form__radio-mark::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border-radius: 50%;
  content: "";
  border: 8px solid #ffffff;
  box-shadow: 0 0 1px 1px #cdcdcd;
  background-color: transparent;
}
@media (min-width: 768px) {
  .form__input-radio[type=radio] + .form__radio-mark::before {
    left: 28px;
    width: 38px;
    height: 38px;
  }
}

.form__checkbox-mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  content: "";
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form__checkbox-mark {
    left: 0;
    width: 40px;
    height: 40px;
  }
}

.form__input[type=checkbox]:checked + .form__checkbox-mark::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  content: "";
  background-image: url("../img/pseudo/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .form__input[type=checkbox]:checked + .form__checkbox-mark::before {
    left: 0;
    width: 40px;
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */