$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$basic-white: #ffffff;
$basic-black: #000000;

$basic_green: #68b738;
$basic-grey: #f2f2f2;
$basic-grey-3: #eaeaea;

$special-grey: #cdcdcd;
$special_grey-2: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;

$light-grey: #e7e7e7;
