:root {
  --white-color: #ffffff;
  --white-trans-color: rgba(255, 255, 255, 0.3);
  --black-color: #000000;
  --accent-color: #68b738;
  --accent-trans-color: rgba(104, 183, 56, 0.85);
  --dark-accent-color: #5eaa2f;
  --error-color: #ff8282;

  --dark-form-text-color: #222222;
  --form-color: #444444;
  --light-form-color: #cdcdcd;
  --slider-track-color: #dcdcdc;

  --border-color: #d9d9d9;
  --form-border-color: #e7e7e7;
  --main-border-color: #e6e6e6;
  --catalog-more-color: #d3d3d3;

  --footer-bg: #f2f2f2;
  --section-bg-color: #eaeaea;

  --button-color: #ebebeb;

  --social__link-color: #666666;

  --window-version: "mobile";

  @media (--not-narrow-vp) {
    --window-version: "tablet";
  }

  //--left-position: 50%;
}
