$basic-white: #ffffff;
$basic-black: #000000;
$basic_green: #68b738;
$basic-grey: #f2f2f2;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$basic-grey-3: #eaeaea;
$special_grey-2: #666666;
