<footer class="footer">
  <div class="footer__container page__centerer">
    <a class="footer__logo" href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
      <img src="img/footer-logo.svg" alt="Логотип магазина." width="128" height="24">
    </a>

    <div class="footer__social">
      <ul class="social">
        <li class="social__item">
          <a class="social__link social__link--vkontakte" href="https://vk.com/htmlacademy">
            <span class="visually-hidden">Мы в Вконтакте.</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--instagram" href="https://www.instagram.com/htmlacademy">
            <span class="visually-hidden">Мы в Инстаграме.</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--facebook" href="https://www.facebook.com/htmlacademy">
            <span class="visually-hidden">Мы в Фейсбуке.</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__academy-logos">
      <a class="copyright" href="https://htmlacademy.ru/intensive/adaptive">
        <span>HTML Academy</span>
        <svg class="logo-academy">
          <use href="./icons/sprite.svg#htmlacademy" />
        </svg>
      </a>
    </div>
  </div>
</footer>
