{% import "./macros.twig" as macros %}

<!DOCTYPE html>
<html class="page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Интернет магазин здорового питания для котов">
  <meta name="keywords" content="Кот, еда, питание, здоровье, похудение">
  <title>{{ pages[pageId].name }} | Кэт энерджи | HTML Academy</title>
  <link rel="preload" href="./fonts/oswaldregular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="./fonts/oswaldmedium.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.min.css">
  <link rel="icon" href="favicon.ico">
  <link rel="icon" href="./favicons/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="./favicons/apple.png">
  <link rel="manifest" href="manifest.webmanifest">
  <script src="./js/navigation.min.js" defer></script>
  {% if permalink == "index.html" %}
    <script src="./js/slider-button.min.js" defer></script>
  {% endif %}
</head>

<body class="page__body">
  {% include "./header.twig" %}

  <main class="main">
    {% block main %}{% endblock %}
  </main>

  {% include "./footer.twig" %}
</body>



</html>
