{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/layout.twig" %}

{% block main %}

<div class="catalog page__centerer">
  <h1 class="catalog__title">Каталог продукции</h1>
  <h2 class="page__hidden">Каталог основной продукции</h2>
  <div class="catalog__product-container">

    <article class="product">
      <div class="product__img-container">
        <a class="product__img-link" href="javascrip:undefined">
          {{ macros.picture("product__image", "./img/catalog/", "hen500", "png", "Фото банки Cat Energy PRO курица.", "68", "86", true, true) }}
        </a>
        <div class="product__discription-container">
          <h3 class="product__zero-h"><a class="product__title-link" href="javascrip:undefined">Cat Energy PRO 500&nbsp;г</a></h3>
          <ul class="product__card-list">
            <li class="product__card-item">
              <span class="product__card-point">Масса</span>
              <span class="product__card-point">500 г</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Вкус</span>
              <span class="product__card-point">Курица</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Цена</span>
              <span class="product__card-point">700 Р.</span>
            </li>
          </ul>
        </div>
      </div>
      <a class="product__button button" href="javascrip:undefined">заказать</a>
    </article>

    <article class="product">
      <div class="product__img-container">
        <a class="product__img-link" href="javascrip:undefined">
          {{ macros.picture("product__image product__image--size", "./img/catalog/", "hen1000", "png", "Фото банки Cat Energy PRO курица.", "84", "100", true, true) }}
        </a>
        <div class="product__discription-container">
          <h3 class="product__zero-h"><a class="product__title-link" href="javascrip:undefined">Cat Energy PRO 1000&nbsp;г</a></h3>
          <ul class="product__card-list">
            <li class="product__card-item">
              <span class="product__card-point">Масса</span>
              <span class="product__card-point">1000 г</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Вкус</span>
              <span class="product__card-point">Курица</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Цена</span>
              <span class="product__card-point">1000 Р.</span>
            </li>
          </ul>
        </div>
      </div>
      <a class="product__button button" href="javascrip:undefined">заказать</a>
    </article>

    <article class="product">
      <div class="product__img-container">
        <a class="product__img-link" href="javascrip:undefined">
          {{ macros.picture("product__image", "./img/catalog/", "fish500", "png", "Фото банки Cat Energy PRO рыба.", "68", "78", true, true) }}
        </a>
        <div class="product__discription-container">
          <h3 class="product__zero-h"><a class="product__title-link" href="javascrip:undefined">Cat Energy PRO 500&nbsp;г</a></h3>
          <ul class="product__card-list">
            <li class="product__card-item">
              <span class="product__card-point">Масса</span>
              <span class="product__card-point">500 г</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Вкус</span>
              <span class="product__card-point">Рыба</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Цена</span>
              <span class="product__card-point">700 Р.</span>
            </li>
          </ul>
        </div>
      </div>
      <a class="product__button button" href="javascrip:undefined">заказать</a>
    </article>

    <article class="product">
      <div class="product__img-container">
        <a class="product__img-link" href="javascrip:undefined">
          {{ macros.picture("product__image product__image--size", "./img/catalog/", "fish1000", "png", "Фото банки Cat Energy PRO рыба.", "84", "100", true, true) }}
        </a>
        <div class="product__discription-container">
          <h3 class="product__zero-h"><a class="product__title-link" href="javascrip:undefined">Cat Energy PRO 1000&nbsp;г</a></h3>
          <ul class="product__card-list">
            <li class="product__card-item">
              <span class="product__card-point">Масса</span>
              <span class="product__card-point">1000 г</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Вкус</span>
              <span class="product__card-point">Рыба</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Цена</span>
              <span class="product__card-point">1000 Р.</span>
            </li>
          </ul>
        </div>
      </div>
      <a class="product__button button" href="javascrip:undefined">заказать</a>
    </article>

    <article class="product">
      <div class="product__img-container">
        <a class="product__img-link" href="javascrip:undefined">
          {{ macros.picture("product__image", "./img/catalog/", "buck500", "png", "Фото банки Cat Energy PRO гречка.", "68", "78", true, true) }}
        </a>
        <div class="product__discription-container">
          <h3 class="product__zero-h"><a class="product__title-link" href="javascrip:undefined">Cat Energy SLIM 500&nbsp;г</a></h3>
          <ul class="product__card-list">
            <li class="product__card-item">
              <span class="product__card-point">Масса</span>
              <span class="product__card-point">500 г</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Вкус</span>
              <span class="product__card-point">Гречка</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Цена</span>
              <span class="product__card-point">400 Р.</span>
            </li>
          </ul>
        </div>
      </div>
      <a class="product__button button" href="javascrip:undefined">заказать</a>
    </article>

    <article class="product">
      <div class="product__img-container">
        <a class="product__img-link" href="javascrip:undefined">
          {{ macros.picture("product__image product__image--size", "./img/catalog/", "buck1000", "png", "Фото банки Cat Energy PRO гречка.", "84", "100", true, true) }}
        </a>
        <div class="product__discription-container">
          <h3 class="product__zero-h"><a class="product__title-link" href="javascrip:undefined">Cat Energy SLIM 1000&nbsp;г</a></h3>
          <ul class="product__card-list">
            <li class="product__card-item">
              <span class="product__card-point">Масса</span>
              <span class="product__card-point">1000 г</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Вкус</span>
              <span class="product__card-point">Гречка</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Цена</span>
              <span class="product__card-point">700 Р.</span>
            </li>
          </ul>
        </div>
      </div>
      <a class="product__button button" href="javascrip:undefined">заказать</a>
    </article>

    <article class="product">
      <div class="product__img-container">
        <a class="product__img-link" href="javascrip:undefined">
          {{ macros.picture("product__image", "./img/catalog/", "rice500", "png", "Фото банки Cat Energy PRO рис.", "74", "84", true, true) }}
        </a>
        <div class="product__discription-container">
          <h3 class="product__zero-h"><a class="product__title-link" href="javascrip:undefined">Cat Energy SLIM 500&nbsp;г</a></h3>
          <ul class="product__card-list">
            <li class="product__card-item">
              <span class="product__card-point">Масса</span>
              <span class="product__card-point">500 г</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Вкус</span>
              <span class="product__card-point">Рис</span>
            </li>
            <li class="product__card-item">
              <span class="product__card-point">Цена</span>
              <span class="product__card-point">500 Р.</span>
            </li>
          </ul>
        </div>
      </div>
      <a class="product__button button" href="javascrip:undefined">заказать</a>
    </article>

    <article class="product-more">
      <h3 class="page__hidden">Ещё больше товаров.</h3>
      <a class="product-more__link" href="javascrip:undefined">
      </a>
      <span class="product-more__big-text">Показать еще 100500 товаров</span>
      <span class="product-more__small-text">На самом деле вкусов гораздо больше!</span>
      <a class="button product-more__button" href="javascrip:undefined">Показать все</a>
    </article>
  </div>

  {# <div class="heading">
    <p class="heading__text heading__text--decor">Дополнительные товары</p>
  </div> #}

  <section class="product-other heading">
    <h2 class="heading__text heading__text--decor">Дополнительные товары</h2>
    {# <h2 class="page__hidden">Дополнительные товары.</h2> #}
    <div class="product-other__container">
      <ul class="product-other__list">
        <li class="product-other__item">
          <span class="product-other__name">Сахарозаменитель</span>
          <span class="product-other__lot">1 упаковка (100 г)</span>
          <span class="product-other__price">200 Р.</span>
          <a class="product-other__button button" href="javascrip:undefined">заказать</a>
        </li>
        <li class="product-other__item">
          <span class="product-other__name">питьевая вода</span>
          <span class="product-other__lot">5 литров</span>
          <span class="product-other__price">50 Р.</span>
          <a class="product-other__button button" href="javascrip:undefined">заказать</a>
        </li>
        <li class="product-other__item">
          <span class="product-other__name">молоко</span>
          <span class="product-other__lot">1 литр</span>
          <span class="product-other__price">100 Р.</span>
          <a class="product-other__button button" href="javascrip:undefined">заказать</a>
        </li>
        <li class="product-other__item">
          <span class="product-other__name">витамины</span>
          <span class="product-other__lot">1 упаковка (30 г)</span>
          <span class="product-other__price">300 Р.</span>
          <a class="product-other__button button" href="javascrip:undefined">заказать</a>
        </li>
      </ul>
      <div class="product-other__gift-container">
        <h2 class="page__hidden">Чехол для кота в подарок.</h2>
        <p class="product-other__gift-text">Закажите все и&nbsp;получите чехол для кота в подарок!</p>
      </div>
    </div>
  </section>
</div>

{% endblock %}
