{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/layout.twig" %}

{% block main %}

<div class="form-catalog page__centerer">
  <h1 class="form-catalog__title">Подбор программы</h1>
  <p class="form-catalog__text">Заполните анкету, и мы подберем<br>программу питания для вашего кота</p>

  <form class="form" action="https://echo.htmlacademy.ru/" method="get">
    <h2 class="page__hidden">Анкета</h2>

    <div class="form__radio-container">
      <fieldset class="form__fieldset form__fieldset--namecat-margin form__fieldset--decor-line">
        <legend class="page__hidden">Данные кота.</legend>
        <ul class="form__list">
          <li class="form__item">
            <label class="form__label" for="cat-name">Имя:*</label>
            {# Класс ошибки для input: form__input--error #}
            <input class="form__input form__input--namecat" id="cat-name" type="text" placeholder="БАРСИК" name="cat-name" required>
          </li>
          <li class="form__item">
            <label class="form__label" for="cat-weight">Вес (кг):*</label>
            <input class="form__input form__input--namecat form__input--number" id="cat-weight" type="number" placeholder="7" name="cat-weight" required>
          </li>
          <li class="form__item">
            <label class="form__label" for="cat-age">Возраст (лет):</label>
            <input class="form__input form__input--namecat form__input--number" id="cat-age" type="number" placeholder="7" name="cat-age">
          </li>
        </ul>
      </fieldset>

      <fieldset class="form__fieldset form__fieldset--radio-margin form__fieldset--decor-line form__fieldset--border">
        <legend class="page__hidden">Выбор программы.</legend>
        <ul class="form__list form__list-radio">
          <li class="form__item-radio">
            <label class="form__label form__label--radio">
              <input class="page__hidden form__input" type="radio" name="program" value="slim" checked>
              <span class="form__radio-mark"></span>
              <span class="form__radio-name">Похудение</span>
            </label>
          </li>
          <li class="form__item-radio">
            <label class="form__label form__label--radio">
              <input class="page__hidden form__input" type="radio" name="program" value="weight">
              <span class="form__radio-mark"></span>
              <span class="form__radio-name">Набор массы</span>
            </label>
          </li>
          <li class="form__item-radio">
            <label class="form__label form__label--radio">
              <input class="page__hidden form__input" type="radio" name="program" value="help">
              <span class="form__radio-mark"></span>
              <span class="form__radio-name">Не знаю (нужен ваш совет)</span>
            </label>
          </li>
        </ul>
      </fieldset>
    </div>

    <div class="heading ">
      <p class="heading__text heading__text--decor">Контактные данные (владельца кота)</p>
    </div>

    <fieldset class="form__fieldset form__fieldset--contacts-margin">
      <legend class="page__hidden">Контактные данные (владельца кота)</legend>
      <ul class="form__list form__list--contacts">
        <li class="form__item">
          <label class="form__label" for="email">E-mail:*</label>
          {# Класс ошибки для input: form__input--error #}
          <input class="form__input form__input--mail" id="email" type="email" name="email" placeholder="kuklachev@gmail.com" required>
          <span class="form__input-decor form__input-decor--email"></span>
        </li>
        <li class="form__item">
          <label class="form__label" for="phone">Телефон:*</label>
          {# Класс ошибки для input: form__input--error #}
          <input class="form__input form__input--phone" id="phone" type="tel" name="phone" placeholder="8 (960) 900-60-90" required>
          <span class="form__input-decor form__input-decor--phone"></span>
        </li>
      </ul>
    </fieldset>

    {# <div class="heading">
      <label  for="textarea" class="heading__text heading__text--decor">Комментарий</label>
    </div>
    <div class="form__fieldset form__fieldset--textarea-margin">
      <textarea class="form__textarea" name="comments" id="textarea" rows="5" placeholder="РАССКАЖИТЕ ОБО ВСЕХ ПОВАДКАХ КОТА"></textarea>
    </div> #}

    <div class="heading form__fieldset form__fieldset--textarea-margin">
      <label  for="textarea" class="heading__text heading__text--decor">Комментарий</label>
      <textarea class="form__textarea" name="comments" id="textarea" rows="5" placeholder="РАССКАЖИТЕ ОБО ВСЕХ ПОВАДКАХ КОТА"></textarea>
    </div>



    {# <div class="heading">
      <p class="heading__text heading__text--decor">Дополнительно</p>
    </div> #}

    <fieldset class="heading form__fieldset form__fieldset--add-margin">
      <legend class="heading__text heading__text--decor">Дополнительно</legend>
      {# <legend class="page__hidden">Дополнительно.</legend> #}
      <ul class="form__list form__list--add">
        <li class="form__item-checkbox">
          <label class="form__label form__label--checkbox">
            <input class="page__hidden form__input" type="checkbox" name="sweetener" checked>
            <span class="form__checkbox-mark"></span>
            <span class="form__checkbox-name">Сахарозаменитель</span>
          </label>
        </li>
        <li class="form__item-checkbox">
          <label class="form__label form__label--checkbox">
            <input class="page__hidden form__input" type="checkbox" name="water">
            <span class="form__checkbox-mark"></span>
            <span class="form__checkbox-name">Питьевая вода</span>
          </label>
        </li>
        <li class="form__item-checkbox">
          <label class="form__label form__label--checkbox">
            <input class="page__hidden form__input" type="checkbox" name="milk">
            <span class="form__checkbox-mark"></span>
            <span class="form__checkbox-name">Молоко</span>
          </label>
        </li>
        <li class="form__item-checkbox">
          <label class="form__label form__label--checkbox">
            <input class="page__hidden form__input" type="checkbox" name="vitamins">
            <span class="form__checkbox-mark"></span>
            <span class="form__checkbox-name">Витамины</span>
          </label>
        </li>
      </ul>
    </fieldset>

    <div class="form__button-container">
      <button class="form__button button" type="submit">Отправить заявку</button>
      <span class="form__required-text">* — Обязательные поля</span>
    </div>

  </form>
</div>
{% endblock %}
